name: Demo Workflow

on:      #trigger
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:  
  VAR: 'This is global'
jobs:
    build:
      runs-on: ubuntu-latest    #one vm
      
      steps:
    #step1
        - name: checkout the repo
          uses: actions/checkout@v2
    #step2
        - name: setup python
          uses: actions/setup-python@v2
    #step3
        - name: install pytest #as we dont have a specific req.txt file in folder from where it can get the pytest
          run: pip install pytest
    #step4
        - name: run test
          run: pytest  
          if: success()
    
    job2:
        runs-on: ubuntu-latest
        needs: build
        steps:
          - name: checkout the repo
            uses: actions/checkout@v2
  
          - name: setup python
            uses: actions/setup-python@v2
          - name: use of env
            run: echo "this is $VAR"
          - name: use of id nd if
            id: hy
            run: echo "::set-output name=res::well"
          - name: use
            run: echo "hy"
            if: ${{steps.hy.outputs.res=='well'}}

          